<h1>Animals</h1>


<table class= "center" >

  <tr>
    <th>Name</th>
    <th></th>
    <th>Breed</th>
    <th></th>
    <th>Admission Date</th>
    <th></th>
    <th>Adoptable</th>
    <th></th>
    <th>Issues</th>
  </tr>
  <% for animal in @animals %>
  <tr>
    <td><%= animal.name %></td>
    <td>|</td>
    <td><%= animal.breed %></td>
    <td>|</td>
    <td><%= animal.admission_date %></td>
    <td>|</td>
    <td><%= animal.adoptable%></td>
    <td>|</td>
    <td><%= animal.issues%></td>
  </tr>
  <% end %>
</table>